[user]
	name = Lucas V. Schuermann
	email = lucas@lvs.io
	signingkey = B2C170FF3D027938
[ui "color"]
	ui = always
[color]
	ui = true
[mergetool]
	keepBackup = true
[merge]
	tool = nvim -d
[alias]
	c = commit
	s = status
	st = status
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	last = log -1 HEAD
	p = push
	# https://stackoverflow.com/a/11688523/472927
	ss = "!f() { git stash show stash^{/$*} -p; }; f"
	sa = "!f() { git stash apply stash^{/$*}; }; f"
	sl = stash list
[core]
	autocrlf = false
	excludesfile = ~/.gitignore_global
[push]
	default = simple
[pull]
	ff = only
[commit]
	gpgsign = true
[help]
	autocorrect = 1
[github]
	user = lucas-schuermann
[protocol]
	version = 2
[init]
	defaultBranch = master
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
