[submodule "neovim/.config/nvim/pack/themes/start/dracula"]
	path = neovim/.config/nvim/pack/themes/start/dracula
	url = git@github.com:dracula/vim.git
[submodule "neovim/.config/nvim/pack/fzf/start/fzf.vim"]
	path = neovim/.config/nvim/pack/fzf/start/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "neovim/.config/nvim/pack/rust.vim/start/rust.vim"]
	path = neovim/.config/nvim/pack/rust.vim/start/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
[submodule "neovim/.config/nvim/pack/vim-go/start/vim-go"]
	path = neovim/.config/nvim/pack/vim-go/start/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "neovim/.config/nvim/pack/surround.vim/start/vim-surround"]
	path = neovim/.config/nvim/pack/surround.vim/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "neovim/.config/nvim/pack/nerdtree/start/nerdtree"]
	path = neovim/.config/nvim/pack/nerdtree/start/nerdtree
	url = git@github.com:preservim/nerdtree.git
